<% content_for :head do %>
<style>
  #home-wrap { margin-top: 200px; padding: 0 200px; }
  #home-wrap h1 { text-align: center; margin-bottom: 0; }
  #form { margin-left: 95px; }
  #email { width: 200px; }
  .message {display: none; font-size: 10pt }
  .success { color: green; }
  .error {  }
</style>
<% end %>

<div id="home-wrap">
  <h1>coming soon</h1>
  <div id='form'>
    <%= text_field_tag :email, "", :placeholder => "subscribe for email updates" %>
    <%= button_tag "submit", :id => 'submit-form' %>
    <div class="message"></div>
  </div>
</div>

<% content_for :script do %>
<script>
  $('#submit-form').click(function() {
    submitForm();
  });

  $('#email').keypress(function(e) {
     if (e.keyCode == 13) {
       submitForm();
       $(this).blur();
     }
  });

  function submitForm() {
    var email = $('#email').val();
    if (sm.isValidEmailAddress(email)) {
      $.post('<%= collect_email_path %>', {
          authenticity_token: '<%= form_authenticity_token %>',
          email: email
        }, function(resp) {
          if (/[^\s]+/.test(resp)) {
            $('.message').addClass('error').text(resp).fadeIn();
            hideMessage();
          } else {
            $('.message')
              .removeClass('error')
              .addClass('success')
              .text('Email Saved!')
              .fadeIn();
            $('#email').val('');
            hideMessage();
          }
        });
    } else {
      $('.message').addClass('error').text("Please enter a valid email address").fadeIn();
      hideMessage();
    }
  }

  function hideMessage() {
    setTimeout(function() {
      $('.message').fadeOut(function() {
        $(this).removeClass('success error').text('');
      })
    }, 5000);
  }
</script>
<% end %>
